.navbar-button{
    cursor: pointer;
    margin-top: 2vw;
    background-color: inherit;
    width: 12vw;
    height: 4vw;
    border: none;   
    transition: all 0.5s;
}

.navbar-button span{
    font-size: 1.2vw;
    transition: 0.5s;  
}

.navbar-button:hover span{
    padding-right: 15px;
}

.navbar-button span:after {
    content: '\00bb';
    position: relative;
    opacity: 0;
    right: 10px;
    transition: 0.5s;
}

.navbar-button:hover span:after {
    opacity: 1;
    right: -10px;
}

